.main-container {
    width: 469px;
    height: 480px;
    background-color: #2a2930;
	color: white;
}
.slider-container {
	/* display: flex;
	align-items: center; */
	/* justify-content: space-between; */
	margin: auto;
	width: 424px;
	height: 7px;
	align-self: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
	color: white; /* font color */
}
.password-box-container {
	margin: auto;
	align-self: center;
	
}

.check-buttons-container {
	display: flex;
	flex-direction: column;
	padding: 4rem 2rem 4rem 2rem;
	/* padding-left: 2rem;
	padding-right: 2rem; */
	width: 424px;
	margin: 5px 25px;
	line-height: 35px;
	/* position: absolute;
	bottom: 220px; */
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    border-radius: 0px;
    border-color: white;
    
    left: 0;
    height: 13px;
    width: 13px;
    background-color: white;
}

/* On mouse-over, add a dark green background color */
.container:hover input ~ .checkmark {
    background-color: #398842;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #a4ffaf;
}

.generate-button-container {
	padding: 10px;
	margin: auto;
	width: 427px;
	height:59px;
}
.submit-button {
	padding-left: 2rem;
	background-color: #a4ffaf;
	color: black;
	width: 427px;
	height:59px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
}

.submit-button:hover {
	background-color: #f0faf0;
	box-shadow: 1px 0px 10px 0px rgba(242, 245, 243, 0.75);
}