.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #1E1E1E;
	height: 100vh;
	color: #7E7C89;
}

.password-box-container {
	/* margin: auto;
	align-self: center; */
	width: 480px;
	height: 70px;
	background-color: #2a2930;
	color: white;
	
}