.App {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #1E1E1E;
	height: 100vh;
	color: #7E7C89;
}

.main-wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.main-title {
	width: 480px;
	height: 40px;
	margin: auto;
	color: #7E7C89;
	font-weight: 700;
	text-align: center;
}


/* second container to strength bars */