@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  margin: 0;
  padding: 0px;
  height: 100vh;
  /* background-color: #1E1E1E; */
  background-color: aqua;
  font-family: "Space mono", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
