.horizontal-slider {
    width: 100%;
    max-width: 460px;
    margin: auto;
    padding: 15px 0px;
}
.example-thumb {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    background: #ffffff;
    border: 5px solid #ffffff;
    border-radius: 100%;
    display: block;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}
.example-thumb.active {
    background-color: #ffffff;
}
.example-track {
    position: relative;
    background: #ddd;
}
.example-track.example-track-0 {
    background: #a4ffaf;
}
.horizontal-slider .example-track {
    top: 20px;
    height: 4px;
}
.horizontal-slider .example-thumb {
    top: 12px;
    width: 10px;
    outline: none;
    height: 10px;
    line-height: 38px;
}
